@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px solid black; */
}

@keyframes header {
    0% {
        transform: translateY(-25vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes tap {
    50%{
        transform: translate(1.2,1.2);
    }
    100%{
        transform: scale(1.5,1.5);
    }
}


@keyframes shrink {
    0%{
        opacity: .8;
    }
    20% {
        opacity: 0;
        height: 100vh;
        width: 90vw;
    }
    100% {
        height: 15vh;
        width: 75vw;
    }
}

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

div, section, header, body {
    display: flex;
}

h1, h2, h3, h4, h5{
    user-select: none;
    transition: 1s all ease-out;
    font-family: Quicksand;
}

span{
    transition: 1s all ease-out;
    font-family: sans-serif;
    font-size: 12px;
}

body{
    align-items: center;
    justify-content: center;
}

div#main{
    background-color: rgb(245, 245, 245);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;  
    /* animation: 1s header forwards; */
}

section.mainSection.big{
    display: none;
}

#home_header {
    position: sticky;
    top: 0;
    flex-flow: row nowrap;
    background-color: rgb(20,20,20);
    z-index: 2;
    height: 15vh;
    min-height: 100px;
    /* animation: 1s header forwards; */
    align-items: flex-end;
}

/* #home_header.shrink{
 animation: 1s shrink linear; 
} */

#home_header img#logo {
    height: 50px; 
    width: auto;
    margin: 5px;
}

#home_header img#tap{
    display: none;
}

#home_header div{
    flex-flow: column nowrap;
    /* align-items: center; */
    padding: 10px;
}

#home_header.big {
    /* position: relative; */
    align-items: center;
    justify-content: center;
    
    flex-flow: column nowrap;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin-bottom: 0px;
    animation: none;
}

#home_header img#logo.big {
    height: 25vw;
    margin: 5px;
}

#home_header img#tap.big {
   position: relative;
   display: flex;
   height: 50px;
   top: 15px;
   cursor: pointer;
}

#home_header img#tap.big:hover{
    animation: 1s tap forwards;
}

#home_header div.big{
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
}

#home_header div *{
    color: rgb(245, 245, 245);
    font-weight: bolder;
}

body section.mainSection,
body header{
    min-width: 400px;
    width: 75vw;
}

body section.mainSection{
    animation: 1s header;
    position: relative;
    flex-flow: column;
    align-items: center; 
    /* min-height: 500px; */
}

body section.mainSection:nth-child(odd){
    color:rgb(245, 245, 245);
    background-color: rgb(20,20,20);
}

body section.mainSection:nth-child(even){
    color: rgb(20,20,20);
}

body section.mainSection:nth-child(even) .icon_title{
    background-color: rgb(245, 245, 245);
}

body section.mainSection:nth-child(odd) .icon_title{
    background-color: rgb(20,20,20);
}

body section.mainSection:nth-child(odd) img.iconDefault{
    filter: invert(1);
}

/* body section:nth-child(odd) div.content{
    border-left: 2px solid rgb(245, 245, 245);
    border-right: 2px solid rgb(245, 245, 245);
} */

.icon_title {
    z-index: 1;
    position: sticky;
    top: 15vh;
    height: auto;
    width: 100%;
    align-items: center;
    /* margin-bottom: 5px; */
}

.icon_title img{
    height: 45px;
    margin: 5px;
    width: auto;
}

div.content{
    word-break: break-all;
    padding: 10px;
    width: 100%;
}

div#programmingLanguage{
    width: 100%;
    flex-flow: column nowrap;
}

div#programmingLanguage section{
    align-items: center;
}

div#programmingLanguage img.iconDefault{
    height: 25px;
    padding: 0 5px;
}