$blue: #007AFF
$green: #4CD865
$offwhite: #EEEEEE
$red: #FF3C2F
$lightbrown: #ABA9A4
$grey: #929AAB
$darkgrey: #333333
$white: #F7F7F7
$black: #000000
$maxContentWidth: 1200px

$them: $blue
$link: $green
$me: $offwhite
$warning: $red

body::before
    // content: "darkmode"

@font-face 
    font-family: "SF Pro"
    font-weight: 300
    src: url("../files/fonts/SFPRODISPLAYTHIN.ttf")

@font-face 
    font-family: "SF Pro"
    font-weight: 400
    src: url("../files/fonts/SFPRODISPLAYREGULAR.OTF")

@font-face 
    font-family: "SF Pro"
    font-weight: 500
    src: url("../files/fonts/SFPRODISPLAYMEDIUM.OTF")

@font-face 
    font-family: "SF Pro"
    font-weight: 600
    src: url("../files/fonts/SFPRODISPLAYBOLD.OTF")

@mixin div-center-spacebetween
    justify-content: space-between
    align-items: center

*
    box-sizing: border-box
    
html, #convo
    scroll-behavior: smooth

div 
    display: flex

body 
    font-family: SF Pro
    background-color: $white
    margin: 0
    font-size: 14px
    line-height: 1.28em
    font-family: SF Pro
    max-height: 100svh
    overflow: hidden

h1
    font-size: 3.43em
    line-height: 1.25em
    margin: 0
    font-weight: 400

p
    white-space: pre-line
    margin: 0

a,
a:active,
a:visited
    color: inherit
    text-decoration: none
    
    &:hover
        filter: brightness(1.1)

section
    display: flex
    justify-content: center
    min-height: 100svh    
    max-height: 100svh    
    height: max-content
    .row     
        display: flex
        max-width: $maxContentWidth
        width: 100%    
        padding: 60px 40px

        & > div 
            width: 100%
            flex: 0 0 50%

        #leftBanner
            flex-flow: column nowrap
            justify-content: center
            > img
                width: 100px
                height: auto
                object-fit: contain

            #convoSections
                margin: 15px 0
                display: flex
                flex-flow: row wrap
                gap: 5px 0

                a    
                    padding: 7px 14px
                    background-color: $blue
                    color: $white
                    font-weight: 300
                    border-radius: 16px
                    margin-right: 3px
            p
                font-size: 1.25em
                font-weight: 300
                max-width: 325px
                margin-top: 5px
                img
                    height: 1em
                &:last-child
                    font-size: .85em
        #rightBanner
            justify-content: center
            #phone
                justify-content: center             
                border: 6px solid $lightbrown
                max-height: calc(100vh - 120px)
                max-width: clamp(450px, 85%, 85%)
                min-width: 450px
                border-radius: 85px
                overflow: hidden                
                
                #screen             
                    flex-flow: column nowrap
                    overflow: hidden
                    border-radius: 80px
                    border: 10px solid $black
                    width: 100%

                    #header
                        padding: 25px 40px 15px
                        flex-flow: column
                        box-shadow: 0px -1px 12px rgba(0,0,0,.1)
    
                        #floatingHeader
                            @include div-center-spacebetween
                            width: 100%
                            font-weight: 600

                            #headerTime, 
                            #batteryIndicator 
                                width: 85px
                                color: $darkgrey

                            #batteryIndicator 
                                width: 85px
                                display: flex
                                align-items: center
                                img
                                    height: 16px
                                    &:not(:last-child)
                                        margin-right: 5px
                                    &#battery
                                        height: unset
                                        width: 30px

                            #headerTime
                                font-size: 1em
                                line-height: 1em                    

                            #dynamicHeader
                                height: 40px
                                width: 150px
                                background-color: $black
                                border-radius: 30px

                            #batteryIndicator
                                justify-content: end

                        #messageContact 
                            @include div-center-spacebetween
                            padding: 25px 0 0 0

                            #contact
                                flex-flow: column nowrap
                                align-items: center

                                & > img
                                    border-radius: 50%

                                p
                                    display: flex
                                    align-items: center
                                    font-size: 1em
                                    margin-top: 5px
                                    letter-spacing: .5px
                                    img
                                        height: 0.75em
                                        margin-left: 5px

                    #convo   
                        overflow-y: scroll
                        padding: 10px 35px 50px
                        display: grid
                        grid-auto-flow: row    
                        noscript
                            display: flex
                            justify-content: right
                            width: fit-content

                        .messageGroup
                            display: flex
                            flex-flow: column wrap
                            margin-bottom: 15px 
                            font-weight: 300

                            &:last-child
                                margin-bottom: 0

                            &.warning
                                flex-flow: row wrap
                                .message
                                    flex-basis: 93%
                                img
                                    flex-basis: 7%
                                    object-fit: contain
                                    width: 7%
                                    margin-left: 10px
                                .status
                                    color: $warning
                                    flex-basis: 100%
                                    font-weight: 600
                                    width: fit-content
                                    text-align: right

                            .message      
                                margin-bottom: 5px  
                                max-width: 82% 
                                padding: 10px 15px
                                width: fit-content
                                border-radius: 22px
                                color: $darkgrey
                                position: relative

                                &.last::before 
                                    content: ""
                                    height: 25px
                                    width: 25px
                                    background-color: inherit
                                    clip-path: polygon( 79.612% 4.651%,1.942% 100%,1.942% 100%,12.897% 101.402%,22.012% 100.335%,29.483% 97.258%,35.511% 92.633%,40.291% 86.919%,44.023% 80.577%,46.905% 74.067%,49.134% 67.851%,50.909% 62.388%,52.427% 58.14%,52.427% 58.14%,54.205% 66.658%,57.561% 74.102%,62.152% 80.514%,67.635% 85.935%,73.665% 90.407%,79.899% 93.972%,85.993% 96.672%,91.604% 98.549%,96.387% 99.644%,100% 100%,100% 100%,95.663% 93.515%,91.946% 86.467%,88.807% 79.045%,86.206% 71.438%,84.102% 63.837%,82.454% 56.432%,81.222% 49.411%,80.365% 42.966%,79.842% 37.285%,79.612% 32.558%,79.612% 4.651% )
                                    background-size: contain
                                    position: absolute
                                    z-index: -1

                                &:last-child
                                    margin-bottom: 0

                                // Types
                                &.pic 
                                    padding: 2px 
                                    border-radius: 18px
                                    overflow: hidden  
                                    color: $white
                                    &.link                                        
                                        background-color: $green
                                    img
                                        width: 100%                                    
                                        border-radius: 18px
                                    a
                                        position: relative
                                        span
                                            position: absolute
                                            left: 0
                                            bottom: 0
                                            z-index: 1
                                            padding: 5px 10px
                                            background-color: $green
                                            width: 100%
                                            font-weight: 400
                                &.emoji
                                    padding: 0
                                    background-color: unset
                                    flex-flow: row wrap
                                    img
                                        height: 48px

                                    span
                                        flex: 100% 0 0

                                &.link:not(.pic)
                                    transition: 100ms ease-in-out
                                    background-color: $link
                                    padding: 0
                                    color: $white
                                    
                                    // &:hover
                                    //     filter: brightness(1.1)
                                
                                    a                        
                                        font-weight: 400    
                                        padding: 10px 15px
                                        img
                                            height: 12px
                                            width: auto
                                            margin-right: 5px

                                .status
                                    font-weight: 500
                                    font-size: 0.9em
                                    color: #929AAB
                                    letter-spacing: 0.8px
                            p, a
                                letter-spacing: 1px 
                                .emoji
                                    height: 1em
                            &.me         
                                .message
                                    &.last::before 
                                        left: -4px
                                        bottom: 1px
                                        transform: scaleX(-1)

                                .message:not(.emoji):not(.link)               
                                    background-color: $me


                            &.them
                                justify-content: end

                                .message
                                    align-self: end
                                    display: flex   
                                    justify-content: flex-end

                                    &.last::before 
                                        right: -5px
                                        bottom: 1px

                                    &.first,
                                    &.last,
                                    &:not(.emoji)
                                        background-color: $them
                                    &.emoji
                                        span
                                            text-align: right
                                    &.timedate    
                                        background-color: unset
                                        width: 100%
                                        max-width: 100%
                                        justify-self: unset
                                        flex-flow: column nowrap
                                        align-items: center
                                        color: $grey 
                                        letter-spacing: .5px

                                        img
                                            height: 1em
                                    p
                                        font-weight: 300
                                        color: $white  


#convoGenerator
    display: none
    pre
        display: flex
        white-space: break-spaces
        flex-flow: column

        code
            max-height: 150px
            overflow-y: scroll
    
    button
        align-self: flex-start

    .convoGenerator,
    .convoCreated
        flex-flow: column nowrap


div.modal 
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: rgba(0, 0, 0, .3)
    justify-content: center
    align-items: center

    .body
        padding: 25px
        background-color: $white
        flex-flow: column                     
                                                    
@media only screen and (max-width: 1200px)
    body 
        overflow: scroll
        font-size: 12px
    h1
        font-size: 2.5em
        line-height: 1em
    section
        min-height: unset
        max-height: unset
        
        & > div
            padding: 30px 20px
            flex-flow: column nowrap    

        .row
            #leftBanner
                padding: 50px 20px            
                flex: unset
                align-items: center

                #convoSections
                    justify-content: center

                p
                    text-align: center

            #rightBanner
                #phone              
                    max-width: 35vw
                    #screen
                        #header
                            #floatingHeader
                                #dynamicHeader
                                    width: unset


@media only screen and (max-width: 640px)
    h1
        font-size: 2em
        line-height: 1em
        text-align: center
    section
        .row
            padding: 30px 20px
            #leftBanner
                #convoSections
                    justify-content: center
            #rightBanner
                #phone    
                    min-width: unset
                    max-width: 90vw
                    #screen
                        #convo
                            padding: 10px 20px 50px
                            .messageGroup
                                .message
                                    max-width: 90%
                        #header
                            padding: 25px 40px 15px
                            #floatingHeader
                                #dynamicHeader
                                    display: none

@media only screen and (max-width: 345px)
    section
        .row
            #rightBanner
                #phone    
                    #screen
                        #convo
                            .messageGroup
                                .message
                                    max-width: 100%