* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Gotham;
  font-size: 18px;
}

header, section {
  display: block;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container-fluid {
  max-width: 100vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.row {
  min-height: 500px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  position: relative;
}

.row.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

div[class^="col"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.col-1-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-1-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 3);
          flex: 0 0 calc(100% / 3);
}

.col-1-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

a, a:active {
  text-decoration: none;
  color: #333333;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-weight: 300;
}

ul li {
  border-bottom: 2px solid transparent;
}

ul li:not(:last-child) {
  margin-right: 30px;
}

ul li:hover {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

ul li.active {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  border-bottom: 2px dashed #333333;
}

button {
  font-family: inherit;
  padding: 16px 30px;
  border-radius: 10px;
  font-weight: 500;
  background-color: #fff;
  border: 2px solid #333333;
  text-transform: lowercase;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
  color: #f1f1f1;
}

h1, h2, h3, h4, h5 {
  color: #333333;
  font-weight: 500;
}

h1 {
  font-size: 52px;
}

header {
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  z-index: 2;
}

header .row {
  min-height: unset;
}

header ul li {
  padding: 40px 0;
  color: #dedede;
}

header + section {
  margin-top: 100px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.banner .background .decor {
  -webkit-animation: 10s rotate linear infinite;
          animation: 10s rotate linear infinite;
  position: absolute;
}

.banner .background .decor.circle {
  right: 160px;
  top: 0;
}

.banner .background .decor.triangle {
  left: 0px;
  top: 200px;
}

.banner .background .decor.pentagon {
  left: 60%;
  top: 375px;
}

.banner .row p {
  margin-top: 20px;
}

.banner .row button {
  margin-top: 40px;
}

#experience {
  background-color: #f1f1f1;
}
/*# sourceMappingURL=style.css.map */