@font-face {
  font-family: "SF Pro";
  font-weight: 300;
  src: url("../files/fonts/SFPRODISPLAYTHIN.ttf");
}
@font-face {
  font-family: "SF Pro";
  font-weight: 400;
  src: url("../files/fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "SF Pro";
  font-weight: 500;
  src: url("../files/fonts/SFPRODISPLAYMEDIUM.OTF");
}
@font-face {
  font-family: "SF Pro";
  font-weight: 600;
  src: url("../files/fonts/SFPRODISPLAYBOLD.OTF");
}
* {
  box-sizing: border-box;
}

html, #convo {
  scroll-behavior: smooth;
}

div {
  display: flex;
}

body {
  font-family: SF Pro;
  background-color: #F7F7F7;
  margin: 0;
  font-size: 14px;
  line-height: 1.28em;
  font-family: SF Pro;
  max-height: 100svh;
  overflow: hidden;
}

p {
  white-space: pre-line;
  margin: 0;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  min-height: 100svh;
  max-height: 100svh;
  height: -moz-max-content;
  height: max-content;
}
section .row {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 60px 40px;
}
section .row > div {
  width: 100%;
}
section .row #leftBanner {
  flex-flow: column nowrap;
  opacity: 0;
}
section .row #leftBanner .convoGenerator,
section .row #leftBanner .convoCreated {
  flex-flow: column nowrap;
}
section .row #phone {
  justify-content: center;
  border: 6px solid #ABA9A4;
  max-height: calc(100vh - 120px);
  max-width: 85%;
  border-radius: 85px;
  overflow: hidden;
}
section .row #phone #screen {
  flex-flow: column nowrap;
  overflow: hidden;
  border-radius: 80px;
  border: 10px solid #000000;
  width: 100%;
}
section .row #phone #screen #header {
  padding: 25px 40px 15px;
  flex-flow: column;
  box-shadow: 0px -1px 12px rgba(0, 0, 0, 0.1);
}
section .row #phone #screen #header #floatingHeader {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
}
section .row #phone #screen #header #floatingHeader #headerTime,
section .row #phone #screen #header #floatingHeader #batteryIndicator {
  width: 65px;
}
section .row #phone #screen #header #floatingHeader #headerTime {
  font-size: 1em;
  line-height: 1em;
}
section .row #phone #screen #header #floatingHeader #dynamicHeader {
  height: 40px;
  width: 150px;
  background-color: #000000;
  border-radius: 30px;
}
section .row #phone #screen #header #floatingHeader #batteryIndicator {
  justify-content: end;
}
section .row #phone #screen #header #messageContact {
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 0 0;
}
section .row #phone #screen #header #messageContact #contact {
  flex-flow: column nowrap;
}
section .row #phone #screen #convo {
  overflow-y: scroll;
  padding: 10px 35px 50px;
  display: grid;
  grid-auto-flow: row;
}
section .row #phone #screen #convo noscript {
  display: flex;
  justify-content: right;
  width: -moz-fit-content;
  width: fit-content;
}
section .row #phone #screen #convo .messageGroup {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  font-weight: 300;
}
section .row #phone #screen #convo .messageGroup:last-child {
  margin-bottom: 0;
}
section .row #phone #screen #convo .messageGroup .message {
  margin-bottom: 5px;
  max-width: 82%;
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 22px;
}
section .row #phone #screen #convo .messageGroup .message:last-child {
  margin-bottom: 0;
}
section .row #phone #screen #convo .messageGroup .message.pic {
  padding: 2px;
}
section .row #phone #screen #convo .messageGroup .message.pic img {
  width: 100%;
  border-radius: 19px;
}
section .row #phone #screen #convo .messageGroup .message.emoji {
  padding: 0;
  background-color: unset;
  flex-flow: row wrap;
}
section .row #phone #screen #convo .messageGroup .message.emoji img {
  height: 48px;
}
section .row #phone #screen #convo .messageGroup .message.emoji span {
  flex: 100% 0 0;
}
section .row #phone #screen #convo .messageGroup .message.link {
  transition: 100ms ease-in-out;
  background-color: #4CD865;
  padding: 0;
}
section .row #phone #screen #convo .messageGroup .message.link a {
  font-weight: 600;
  padding: 10px 15px;
}
section .row #phone #screen #convo .messageGroup .message.link a img {
  height: 12px;
  width: auto;
  margin-right: 5px;
}
section .row #phone #screen #convo .messageGroup .message.link:hover {
  filter: brightness(1.1);
}
section .row #phone #screen #convo .messageGroup .message .status {
  font-weight: 500;
  font-size: 0.9em;
  color: #929AAB;
  letter-spacing: 0.8px;
}
section .row #phone #screen #convo .messageGroup p {
  letter-spacing: 1px;
}
section .row #phone #screen #convo .messageGroup p .emoji {
  height: 1em;
}
section .row #phone #screen #convo .messageGroup.warning {
  align-items: end;
}
section .row #phone #screen #convo .messageGroup.warning div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
section .row #phone #screen #convo .messageGroup.warning span {
  color: #FF3C2F;
}
section .row #phone #screen #convo .messageGroup.warning img {
  height: 20px;
}
section .row #phone #screen #convo .messageGroup.me .message:not(.emoji):not(.link) {
  background-color: #EEEEEE;
}
section .row #phone #screen #convo .messageGroup.them {
  justify-content: end;
}
section .row #phone #screen #convo .messageGroup.them .message {
  align-self: end;
  display: flex;
  justify-content: flex-end;
}
section .row #phone #screen #convo .messageGroup.them .message.first, section .row #phone #screen #convo .messageGroup.them .message.last, section .row #phone #screen #convo .messageGroup.them .message:not(.emoji) {
  background-color: #007AFF;
}
section .row #phone #screen #convo .messageGroup.them .message.emoji span {
  text-align: right;
}
section .row #phone #screen #convo .messageGroup.them .message.timedate {
  background-color: unset;
  width: 100%;
  max-width: 100%;
  justify-self: unset;
  flex-flow: column nowrap;
  align-items: center;
  color: #929AAB;
  letter-spacing: 0.5px;
}
section .row #phone #screen #convo .messageGroup.them .message p {
  font-weight: 300;
  color: #F7F7F7;
}

#convoGenerator {
  display: none;
}
#convoGenerator pre {
  display: flex;
  white-space: break-spaces;
  flex-flow: column;
}
#convoGenerator pre code {
  max-height: 150px;
  overflow-y: scroll;
}
#convoGenerator button {
  align-self: flex-start;
}

div.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
div.modal .body {
  padding: 25px;
  background-color: #F7F7F7;
  flex-flow: column;
}

@media (prefers-color-scheme: dark) {
  body::before {
    content: "darkmode";
  }
}/*# sourceMappingURL=style.css.map */